@{
    ViewBag.Title = "Products";
}

<div ng-app="productModule">
    <div ng-view></div>
</div>

@section scripts
{
    <script src="~/Scripts/vendor/angular.min.js"></script>
    <script src="~/Scripts/vendor/angular-route.min.js"></script>
    <script src="~/Scripts/vendor/angular-spinner.js"></script>
    <script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>
    @Scripts.Render("~/bundles/productModule")
}