@model int
@{
    ViewBag.Title = "Product Details - REST";
}

<div ng-app="productDetailModule">
    <div ng-controller="productCtrl">
        <div ng-if="product.id">
            <h2>{{product.name}}</h2>
            <div class="alert alert-danger" ng-if="!product.inStock">
                <strong>Sorry!</strong> This item is currently out of stock.
            </div>
            <p>{{product.description}}</p>
            <dl>
                <dt>Price</dt>
                <dd>{{product.price}}</dd>
            </dl>

            <form role="form">
                <div class="form-group" ng-if="product.options.length > 0">
                    <label>Option</label>
                    <select class="form-control" ng-model="product.selectedOption" ng-options="option.name for option in product.options"></select>
                </div>
                <img ng-if="!product.selectedOption" ng-src="../../Content/images/{{product.image}}" />
                <img ng-if="product.selectedOption" ng-src="../../Content/images/{{product.selectedOption.image}}" />

                <div ng-if="product.inStock">
                    <button class="btn">Add to Cart</button>
                </div>
                <div>
                    <a href="/ProductAngular">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/vendor/angular.min.js"></script>
    <script src="~/Scripts/vendor/angular-resource.min.js"></script>
    <script src="~/Scripts/shared/productModule.js"></script>
    <script>
        var productDetailModule = angular.module('productDetailModule', ['productModule']);

        productDetailModule.controller('productCtrl', function ($scope, productRepository) {
            $scope.product = productRepository.get(@Model);
        });
    </script>
}

@*<script src="~/Scripts/vendor/angular-route.min.js"></script>*@    
@*var urlSegments = $location.absUrl().split("/");
var id = urlSegments[urlSegments.length - 1];*@
    
@*<script src="~/Scripts/vendor/angular-spinner.js"></script>
<script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>*@

@*<div class="spinner" ng-if="!product">
        <span us-spinner="{radius:30, width:12, length: 30}"></span>
    </div>*@
