<div ng-app="productListModule">
    <div ng-controller="productListCtrl">
        <h2>Products</h2>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>In Stock</th>
            </tr>
            <tr ng-repeat="product in products">
                <td><a ng-href="/ProductRest/Detail/{{product.id}}">{{product.name}}</a></td>
                <td>{{product.price | currency}}</td>
                <td><input disabled="disabled" type="checkbox" ng-model="product.inStock" /></td>
            </tr>
        </table>
    </div>
</div>

@section scripts {
   <script src="~/Scripts/vendor/angular.min.js"></script>
   <script>
        var productListModule = angular.module('productListModule', []);

        productListModule.controller('productListCtrl', function ($scope, productListDataSvc) {
            productListDataSvc.get().success(function (data) {
                $scope.products = data;
            });
        });

        productListModule.factory('productListDataSvc', function ($http) {
            return {
                get: function () {
                    return $http.get('/api/product/');
                }
            }
        });
    </script>
}

